/****************************************/
/* Приклад коду властивостей для header */
/****************************************/

/* Для закоментованих властивостей можна */
/* вказати власні значення та зняти коментар */

header {
    background-color: #fff;
/*    background-image: url("../img/home.jpg");*/
    background-size: cover;
    color:#fff;
    text-align: center;
}

header .row {
    min-height: 100vh;  /* Приклад! Висота header завжди рівна висоті екрану пристрою */
}
