/*********************************/
/* Приклад коду властивостей для */
/* навігаційної панелі .navbar   */
/* з ідентифікатором #mainNav    */
/*********************************/

#mainNav {
    margin-top: 1.5rem;  /* Navbar зміщений вниз на 1.5rem за рахунок відступу зверху */
    padding: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
	font-size: 16px;
	letter-spacing: 3px;
	word-spacing: 100px;
	text-align: justify;
}

/* Властивості Navbar після початку скролу */
/* У Navbar з'являється додатковий клас .navbar-shrink */
/* зникає відступ зверху */
/* та змінюється колір фону */

#mainNav.navbar-shrink {
    margin-top: 0;
    background: #fff;  
    }

/* Властивості "гамбургер-меню" */
#mainNav .navbar-toggler {
    border: none;
    cursor: pointer;
    outline: none;
    
}

.fa-bars:before {
    color: #000;
    font-size: 1.25rem;
/*	padding-right: 3px;*/
	
}


/* Кінець властивостей "гамбургер-меню" */

.navbar-nav {
	margin-left:-1rem;
}

/* Властивості лінків меню */
#mainNav .nav-link {
    background: transparent;
    border-radius: .45rem;
    color: #000;
    margin-left:1rem;
    text-align: center;
}

#mainNav .nav-link:hover {
   text-decoration:line-through;
}

#mainNav .nav-link:focus {
   text-decoration:line-through;
}


#mainNav .nav-link.active {
   text-decoration:line-through;
}


/* Кінець властивостей лінків меню */


/* Зміна вигляду навігаційної панелі для екранів менше 767px */
/* працює у парі з додатковим класом для .navbar */
/* .navbar-expand-md. УВАГА! При зміні на клас .navbar-expand-sm */
/* або .navbar-expand-lg необхідно змінити точку breakpoints на  */
/* 565px або 991px відповідно до обраного класу  */

@media screen and (max-width: 767px) {
    
    /* Зміна властивостей усіх контейнерів всередині #page-top */    
    #page-top .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
/*		margin: 10px;*/
	
    }
    
    /* Зміна властивостей контейнера всередині */
    /* навігаційної панелі #mainNav */    
    #mainNav .container {
        padding-left: 0;
        padding-right: 0;
		
		
    }
    
    /* Зміна властивостей лінків меню */    
    #mainNav .navbar-nav {
        background-color: #fff;  /* Загальний колір фон під усіма лінками */
		

    }
    
    #mainNav .nav-link {
        border-radius: 0;
/*        margin: 0;*/
		color: #000;
	
    }
    
    #mainNav .nav-link {
        padding: .5rem 1.5rem;
/*        border-top: 1px solid #666;*/
    }
    
    #mainNav .nav-link,
    #mainNav .nav-link.active,
    #mainNav.navbar-shrink .nav-link:hover {
        background: transparent;
    }
    /* Кінець змінам властивостей лінків меню */    
    
    /* Зміна властивостей "гамбургер-меню" */    
    #mainNav .navbar-toggler {
        margin-right: 4px;
	
    }
    
    /* Зміна властивостей Лого */    
    #mainNav .navbar-brand {
/*        margin-left: 15px;*/
    }
}